<div flex layout="row" layout-align="space-around center">
    <div>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>
