
@{
    Layout = null;
}
<div flex
     layout="row"
     layout-align="space-around center"
     ng-if="uCtrl.showSpinner">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<md-content layout-padding ng-if="!uCtrl.showSpinner">
    <p class="md-headline">
        Tell us about yourself!
    </p>
    <div>
        <p class="md-subhead">Let's start with the basics</p>

        <p class="md-caption">Name</p>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>First Name</label>
                <input ng-model="uCtrl.user.Name_First" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Last Name</label>
                <input ng-model="uCtrl.user.Name_Last" />
            </md-input-container>
        </div>

        <p class="md-caption">Birthday</p>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Month</label>
                <md-select ng-model="uCtrl.user.BirthMonth">
                    <md-option ng-repeat="month in uCtrl.months()" value="{{month}}">
                        {{month}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Day</label>
                <md-select ng-model="uCtrl.user.BirthDay">
                    <md-option ng-repeat="day in uCtrl.days()" value="{{day}}">
                        {{day}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <p class="md-subhead">How can we contact you?</p>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Primary Email</label>
                <input ng-model="uCtrl.user.Email_Contact" type="email" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Skype ID</label>
                <input ng-model="uCtrl.user.SkypeId" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Twitter ID</label>
                <input ng-model="uCtrl.user.TwitterId" />
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Primary Phone</label>
                <input ng-model="uCtrl.user.PhoneNumber_Primary" type="tel" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Mobile Phone</label>
                <input ng-model="uCtrl.user.PhoneNumber_Mobile" type="tel" />
                <div class="hint">Can we send you text (SMS) messages? If so, please enter a number where we can text you.</div>
            </md-input-container>
        </div>

        <p class="md-subhead">Letting us know where you live allows us to contact you when something is happening near you</p>
        <div>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Street Address</label>
                <input ng-model="uCtrl.user.Street" />
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>City</label>
                <input ng-model="uCtrl.user.City"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>State</label>
                <input ng-model="uCtrl.user.StateProvince"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Zip Code</label>
                <input ng-model="uCtrl.user.PostalCode"/>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Country</label>
                <input ng-model="uCtrl.user.CountryRegion" />
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Country of Citizenship</label>
                <input ng-model="uCtrl.user.CountryRegionOfCitizenship" />
                <div class="hint">Occasionally, we have requests for project work that requires citizenship for that country.</div>
            </md-input-container>
        </div>

        <p class="md-caption">Employer Info</p>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Employer Name</label>
                <input ng-model="uCtrl.user.Employer" />
                <div class="hint">Some employers match hours and donations - if you think your employer might have a program or want us to research it list your employer here and we will talk with you about it.</div>
            </md-input-container>
        </div>

        <p class="md-caption">What languages do you speak or read fluently?</p>
        <div layout-padding>
            <md-chips ng-model="uCtrl.user.Languages" md-autocomplete-snap
                      md-transform-chip="uCtrl.transformChip($chip)">
                <md-autocomplete md-search-text="uCtrl.languageSearchText"
                                 md-items="item in uCtrl.querylanguageSearch(uCtrl.languageSearchText)"
                                 md-item-text="item.name"
                                 placeholder="search for a language">
                    <span md-highlight-text="ctrl.languageSearchText">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        {{$chip.name}}
                    </span>
                </md-chip-template>
            </md-chips>
        </div>

        <md-button class="md-raised" ng-click="uCtrl.saveUserInfo()">
            save
        </md-button>
    </div>
</md-content>
